doctype html
html.no-js(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet' href='./styles.css')
        link(rel="stylesheet" href="//brick.a.ssl.fastly.net/PT+Sans:400,700")
        link(href="https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps" rel="stylesheet")
        title The Friesian Empire Wedding and Events Center
    body
        main
            #lead
                div
                    header
                        div
                            h1 Coming Fall 2017!
                            p The Friesian Empire Wedding and Events Center!
                        //- 170x170
                        img#logo(src="http://placehold.it/170" height="170px" width="170px")
                    p#lead-content The perfect location for Weddings, Corporate events, Social Events, Birthdays, Class/Family Reunions and other special events. This facility will be unlike any other in Central Ohio! We will also have Carriage and Sleigh Rides using our Friesian Horses.
                    blockquote#masked Make your special day even more memorable!
                #cloudsky: img(src="images/cloudsky.png")
                //- 440x610
            #examples
                .card
                    img(src="images/meeting.png" width="275px" height="200px")
                    p Your Corporate Event
                .card
                    img(src="images/wedding.jpg" width="275px" height="200px")
                    p Your Wedding or Wedding Photos
                .card
                    //- 275x200
                    img(src="images/birthday.jpg" width="275px" height="200px")
                    p Your Birthday Party
            p We are currently going through the conversion process so we cannot take reservations or quote pricing, at this time.
            p#form-banner Please leave all of your contact information so that you can be among the first notified when we're ready to give pricing, book dates and give personal tours!
            form(autocomplete="on" method="post" action="mailcgi.php")
                input(name="success" value="http://www.thefriesianempire.com/thanks.html" type="hidden")
                p Please fill in the contact form below. Fields with #[span.red *] are required.
                label Name:
                    input#name(type="text" name="required-name" autocomplete="name" required)
                label Company:
                    input#company(type="text" name="company" autocomplete="organization")
                label Street:
                    input#street(type="text" name="street" autocomplete="street-address")
                label City:
                    input#city(type="text" name="city" autocomplete="city")
                label Zip:
                    input#zip(type="number" name="zip" autocomplete="postal-code")
                label State:
                    input#state(type="text" name="state" autocomplete="state")
                label Phone:
                    input#phone(type="text" name="phone" autocomplete="tel-national")
                label Email:
                    input#email(type="email" name="required-email" autocomplete="email" required)
                label Comments:
                    textarea(name="comments" rows=4)
                div.buttons
                    button#submit(type="submit" name="submit") Submit
                    button#reset(type="reset" name="reset") Reset
