// * {
//     border: 1px solid rgba(255,0,255,0.5);
// }

main {
    font-family: 'PT Sans', sans-serif;
    font-size: 26px;
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    > p {
        text-align: center;
        width: 100%;
        margin: 0;
        font-weight: 700;
    }
}
#lead {
    display: flex;
    position: relative;
    header {
        div {
            flex: 1 1 auto;
            p {
                font-size: 24px;
                margin: -12px 0 0;
                text-transform: uppercase;
                font-weight: 700;
            }
        }
        #logo {
            margin-top: -24px;
            margin-right: 18px;
        }
        display: flex;
        position: absolute;
        width: 100%;
        margin-top: 42px;
        border-top: 1px solid rgba(255,255,255,0.1);
        border-bottom: 1px solid rgba(255,255,255,0.1);
        background: rgba(255,255,255,0.5);
        height: 124px;
        overflow: visible;
    }
    #lead-content {
        margin-top: 165px;
        margin-bottom: 0px;
    }
    #cloudsky {
        flex: 0 0 auto;
        width: 437px;
        height: 606px;
        position: relative;
        overflow: hidden;
        z-index: -1;
        img {
            clip-path: circle(345px at 345px 347px);
            position: absolute;
            bottom: 0px;
            right: 0px;
        }
    }
}

$a: 2px;
$b: -1*$a;

h1 {
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 80px;
    margin: -10px 0 0;
    font-weight: 100;
    text-shadow:
        0 $a #FFF,
        $a $a #FFF,
        $a 0 #FFF,
        $b 0 #FFF,
        $b $b #FFF,
        0 $b #FFF,
        $a $b #FFF,
        $b $a #FFF,
        0 0 $a #FFF;
}

#masked {
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    position: relative;
    padding: 8px 0;
    text-align: center;
    box-sizing: border-box;
    margin: 10px 5px;
}
#masked::before {
    content: ' ';
    // border-top: 3px solid magenta;
    // border-bottom: 3px solid magenta;
    width: 100%;
    height: calc(100% + 9px);
    top: 4px;
    left: 0px;
    box-sizing: border-box;
    position: absolute;
    border-width: 3px 0;
    border-style: solid;
    border-image:
        linear-gradient(to right, #e5ca73 0%,#e5ca73 1%,#87642e 9%,#6f491a 14%,#a2792a 29%,#d0a53d 50%,#d0a53d 64%,#a2792a 87%,#986a1c 100%) 100% 0%; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#examples {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.card {
    display: flex;
    flex-direction: column;
    > img {
        flex: 0 0 auto;
    }
    > p {
        flex: 1 1 auto;
        background: magenta;
        text-align: center;
        padding: 0;
        margin: 2px 0 0;
        font-size: 15px;
        font-weight: 700;
        font-variant: all-petite-caps;
        color: #FFF;
        text-shadow:
            0 $a #000,
            $a $a #000,
            $a 0 #000,
            $b 0 #000,
            $b $b #000,
            0 $b #000,
            $a $b #000,
            $b $a #000,
            0 0 $a #000;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e5ca73+0,e5ca73+1,87642e+9,6f491a+14,a2792a+29,d0a53d+50,d0a53d+64,a2792a+87,986a1c+100 */
        background: #e5ca73; /* Old browsers */
        background: -moz-linear-gradient(left, #e5ca73 0%, #e5ca73 1%, #87642e 9%, #6f491a 14%, #a2792a 29%, #d0a53d 50%, #d0a53d 64%, #a2792a 87%, #986a1c 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #e5ca73 0%,#e5ca73 1%,#87642e 9%,#6f491a 14%,#a2792a 29%,#d0a53d 50%,#d0a53d 64%,#a2792a 87%,#986a1c 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #e5ca73 0%,#e5ca73 1%,#87642e 9%,#6f491a 14%,#a2792a 29%,#d0a53d 50%,#d0a53d 64%,#a2792a 87%,#986a1c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5ca73', endColorstr='#986a1c',GradientType=1 ); /* IE6-9 */
    }
}



#form-banner {
    width: 100%;
    background: magenta;
    font-size: 80%;
    padding: 1em 0;
    font-variant: all-petite-caps;
    color: #FFF;
    text-shadow:
        0 $a #000,
        $a $a #000,
        $a 0 #000,
        $b 0 #000,
        $b $b #000,
        0 $b #000,
        $a $b #000,
        $b $a #000,
        0 0 $a #000;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e5ca73+0,e5ca73+1,87642e+9,6f491a+14,a2792a+29,d0a53d+50,d0a53d+64,a2792a+87,986a1c+100 */
    background: #e5ca73; /* Old browsers */
    background: -moz-linear-gradient(left, #e5ca73 0%, #e5ca73 1%, #87642e 9%, #6f491a 14%, #a2792a 29%, #d0a53d 50%, #d0a53d 64%, #a2792a 87%, #986a1c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #e5ca73 0%,#e5ca73 1%,#87642e 9%,#6f491a 14%,#a2792a 29%,#d0a53d 50%,#d0a53d 64%,#a2792a 87%,#986a1c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #e5ca73 0%,#e5ca73 1%,#87642e 9%,#6f491a 14%,#a2792a 29%,#d0a53d 50%,#d0a53d 64%,#a2792a 87%,#986a1c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5ca73', endColorstr='#986a1c',GradientType=1 ); /* IE6-9 */
}

.red {
    color: red;
}

form {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    width: 50%;
    label {
        display: flex;
        justify-content: space-between;
        margin: 1px 0;
    }
    input {
        width: 150px;
    }
    .buttons {
        display: flex;
        flex-direction: row-reverse;
        > button {
            margin: 0 5px;
        }
    }
}
input:required::before {
    content: '*';
    color: red;
}
